.content-heading{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #233561;
    color: white;
}

.amount-to-budget{
    font-size: 2em;
    color: black;
    font-weight: bold;
}