button{
    height: 50px;
    min-width: 75px;
    margin: .5em 0;
    border-radius: 5px;
    font-size: 24px;
}

.home{
    background: url('./home-button-small.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    color: transparent;
    width: 50px;

    margin-top: 10px;
}

.nav-button{
    background-color: white;
    border: solid 3px rgb(46, 182, 217);
    color: rgb(46, 182, 217);
    font-size: 32px;
    border-radius: 10px;
    margin-left: 20px;
}

.nav-button:hover{
    background-color: rgb(46, 182, 217);
    color: white;
    border:solid 3px white;
}

.home-button{
    flex: auto;
    height: 80px;
    max-width: 400px;
    font-size: 32px;
    box-shadow: 4px 4px 4px black;
    margin: 5px;
}

.pink{
    background-color: rgb(255,124,179);
}

.home-button:active{
    box-shadow: 0 4px 4px black;
    transform: translateY(4px);
}

.green{
    background-color: rgb(153,204,51)
}

.orange{
    background-color: rgb(255,102,51)
}

.blue{
    background-color: rgb(46, 182, 217)
}

.red{
    background-color: #D81303;
}

.yellow{
    background-color: #FFFF66;
}

.ynab-button{
    background-image: url('./ynab.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 150px;
    width: 150px;
}

.click{
    box-shadow: 4px 4px 4px black;
    margin: 0 5px;
    margin-bottom: 4px;
}

.click:active{
    box-shadow: 4px 0 4px black;
    transform: translateY(4px);
}

.submit-edit-goal{
    margin-left: 10px;
    height: 60px;
    width: 100px;
    flex-grow: 1;
}

.form-button{
    border: solid 1px black;
    color: black;
    box-shadow: 1px 2px 2px black;
    flex: auto;
    width: 100%;
}

.form-button:active{
    box-shadow: 1px 0px 1px black;
    transform: translateY(2px);
}

@media only screen and (min-width: 600px){    
    .home{
    background: url('./home-button.png');
    width: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    color: transparent;
    }

}

@media only screen and (min-width: 1050px){
    .home-button{
        font-size: 42px;
    }
}

