.header{
    height: 66vh;
    display: flex;
    margin-top: 120px;
    margin-bottom: 10px;
    align-items: flex-end;
    box-shadow: 0 3px 3px black;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

p{
    font-size: 36px;
}

.budget-message{
    width: 50%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.header-home{
    background-color: #AAD6CC;
}

.header-parent{
    background-color: #2EB6D9;
}

.header-child{
    background-color: rgb(153,204,51);
}

.header-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
}

.header-buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px; 
    margin: 5px;
}

@media only screen and (min-width: 600px){  

    .header-buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

