.header{
    padding-top: 100px;
    height: 66vh;
    display: flex;
    align-items: center;
    margin-top: 120px;
    box-shadow: 0 3px 3px black;
    justify-content: space-around;
}

p{
    font-size: 36px;
}

.budget-message{
    width: 66%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.header-home{
    background-color: rgb(170, 214, 204);
}

.header-parent{
    background-color: rgb(232,230,90);
}

.header-child{
    background-color: rgb(46,182,217);
}

.header-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

