.navbar{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: rgb(60, 78, 66);
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 3px 3px black;
}

.nav-group{
    display: flex;
    justify-content: space-between;
    align-content: center;
}