.footer{
    position: sticky;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: rgb(60, 78, 66);
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
