.avatarImage{
    height: 100%;
    width: 100%;
    border: 4px solid black;
}

.custom-image{
    border: 4px solid black;
}

img{
    width: 100%;
    height: 100%;
}
.money-tree{
    height: 0px;
    width: 0px;
}

.warning-image{
    height: 40vh;
    width: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.broken-atm{
    background-image: url('./broken-atm.png')
}

.money-escape{
    background-image: url('./money-escape.png')
}

.danger{
    background-image: url('./danger.png')
}

.section-image{
    min-height: 20vh;
    min-width: 20vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.money-jars{
    background-image: url('./money-jars.png')
}

.money-envelopes{
    background-image: url('./money-envelopes.png')
}

.home-left-image{
    background-image: url('./money-bags.png');
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.left-counting-money{
    background-image: url('./counting-money.png');
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.header-image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.giving-pig{
    background-image: url('./orange-pig.png');
}

.saving-pig{
    background-image: url('./green-pig.png');
}

.spending-pig{
    background-image: url('./blue-pig.png');
}

.piggy-bank{
    height: 100%;
    width: 100%;
    flex: auto;    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media only screen and (min-width: 1000px){

.header-image{
    height: 100%;
    flex: auto;    
    width: 80%;
}
   
.home-left-image{
    background-image: url('./happy-money.png');
}

.home-right-image{
    background-image: url('./money-bags.png');
}

.money-tree{
    background-image: url('./money-tree.png');
}

.left-counting-money{
    background-image: none;
    height: 0;
    width: 0;
}

.right-counting-money{
    background-image: url('./counting-money.png');
}

}