.avatarImage{
    height: 300px;
    width: 300px;
    border: 4px solid black;
}

.custom-image{
    border: 4px solid black;
}

img{
    width: 100%;
    height: 100%;
}
.money-tree{
    height: 0px;
    width: 0px;
}

.warning-image{
    height: 40vh;
    width: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.broken-atm{
    background-image: url('./broken-atm.png')
}

.money-escape{
    background-image: url('./money-escape.png')
}

.danger{
    background-image: url('./danger.png')
}

@media only screen and (min-width: 1000px){

.header-image{
    height: 100%;
    flex: auto;    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
}
   
.home-left-image{
    background-image: url('./happy-money.png');
}

.home-right-image{
    background-image: url('./money-bags.png');
}

.money-tree{
    background-image: url('./money-tree.png');
}

.counting-money{
    background-image: url('./counting-money.png');
}

.giving-pig{
    background-image: url('./orange-pig.png');
}

.saving-pig{
    background-image: url('./green-pig.png');
}

.spending-pig{
    background-image: url('./blue-pig.png');
}

.piggy-bank{
    height: 100%;
    width: 100%;
    flex: auto;    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

}