/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #FFF7DB;
    margin: 0;
}

nav, footer{
    height: 40px;
    padding: 5px 20px;
    background-color: #888;
    display: flex;
    justify-content: space-between;
}


.hero{
    height: 70vh; 
}

header{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: bold;
    font-size: 5em;
    text-align: center;
}

h2{
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

h3{
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    margin: 10px;
}

h6{
    font-size: 20px;
    margin-bottom: .2em;
}

p{
    line-height: 1.4em;
    text-align: center;
}

section{
    padding: 20px 20px 20px 20px;
    min-height: 200px;
    background-color: #FFF7DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section:nth-child(even){
    background-color: white;
}

.form-double{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: space-between;
}

.form-single{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 1.5em;
}

@media only screen and (max-width: 600px){
    .visuallyhidden { 
        position: absolute; 
        overflow: hidden; 
        clip: rect(0 0 0 0); 
        height: 1px; width: 1px; 
        margin: -1px; padding: 0; border: 0; 
      }
}