.progressBar{
    height: 300px;
    width: 50px;
    border-radius: 4px;
    border: 4px solid black;
}

.filler{
    background-color: white;
    width: 100%;
    transition: height .2s ease-in;
}

.saving{
    background-color: #99CC33;
}

.giving{
    background-color: #EC762A;
}

.spending{
    background-color: #2EB6D9;
}

@media only screen and (min-width: 750px){
    
    .progressBar{
        width: 100px;
    }

}