.progressBar{
    height: 300px;
    width: 50px;
    background-color: #EC762A;
    border-radius: 4px;
    border: 1px solid gray;
}

.filler{
    background-color: white;
    width: 100%;
    transition: width .2s ease-in;
}